{% extends 'base.html' %}

{% block additional_head %}
{% load static %}
<link href="{% static 'css/accounts/login_user.css' %}" rel="stylesheet" type="text/css">
{% endblock%}

{% block title %}ログイン|FavoriteCosme{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto my-4">
      <h2>ログイン</h2>
      <form class="mt-4" method="POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-secondary mt-3 ms-3" value="ログイン">
      </form>
    </div>
  </div>
</div>
{% endblock %}
