{% extends 'base.html' %}

{% block additional_head %}
{% load static %}
<link href="{% static 'css/accounts/update_user.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}ユーザー情報変更|FavoriteCosme{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto my-4">
      <h2>ユーザー設定変更</h2>
      <form class="mt-4 ms-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-secondary mt-3 ms-3" value="変更">
      </form>
    </div>
  </div>
</div>
{% endblock %}
