@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap');

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
}

body {
  font-family: 'Noto Serif JP', serif;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

table a {
  text-decoration: underline;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
}

.btn {
  width: 200px;
  padding: 7px;
  box-sizing: border-box;
  text-align: center;
  border-width: 2px;
  border-radius: 0;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding-top: 1;
}

.navbar-btn {
  width: 150px;
  padding: 5px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: var(--dark);
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  cursor: pointer;
}

.table-width-fix-large {
  width: 30%;
  table-layout: fixed;
}

.table-width-fix-small {
  width: 15%;
  table-layout: fixed;
}
