{% extends 'base.html' %}

{% block additional_head %}
{% load static %}
<link href="{% static 'css/favoritebeauty/detail_review.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}レビュー詳細 | FavoriteBeauty{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto my-4">
      <h2>レビュー詳細</h2>
      <h3 class="mt-5">アイテム名：{{review.myitem}}</h3>
      <h3>レビュー日：{{review.review_date | date:"Y-m-d"}}</h3>
      <form class="mt-4 ms-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-dark mt-3 ms-3" value="変更">
        <a href="{% url 'favoritebeauty:list_review' myitem_id=review.myitem_id %}"
          class="btn btn-dark mt-3 ms-3">戻る</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}