{% extends "base.html" %}

{% block title %}レビュー履歴 | FavoriteBeauty{% endblock title %}

{% block body %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12 mb-5">
      <h2>レビュー履歴</h2>
      <h4 class="mt-5">アイテム名：{{myitem.name}}</h4>
      <h4>平均評価：{{myitem.rating | floatformat}}</h4>
      <table class="table table-bordered mt-4" border="1">
        <thead class="table-secondary">
          <tr align="center">
            <th>日付</th>
            <th>評価</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          {% for review in object_list %}
          <tr align="center">
            <td class="table-width-fix-small">{{review.review_date | date:"Y/m/d"}}</td>
            <td class="table-width-fix-small"><a
                href="{% url 'favoritebeauty:detail_review' pk=review.pk %}">{{review.review}}</a></td>
            <td>{{review.comment|truncatechars:70}}</td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if myitem.tried %}
      <a href="{% url 'favoritebeauty:list_tried_myitem' %}" class="btn btn-outline-dark">アイテム一覧に戻る</a>
      {% else %}
      <a href="{% url 'favoritebeauty:home' %}" class="btn btn-outline-dark">ホームに戻る</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}