{% extends 'base.html' %}

{% block additional_head %}
{% load static %}
<link href="{% static 'css/favoritebeauty/top.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}トップページ | FavoriteBeauty{% endblock title %}

{% block body %}
<!-- hero section -->
<div class="hero vh-100 d-flex align-items-center" id="home">
  <div class="container">
    <div class="row">
      <div class="hero-text col-lg-7 mx-auto py-2 text-center">
        <h1 class="display-4 text-light">Favorite Beauty</h1>
        <p class="text-light my-3">
          「Favorite Beauty」でスキンケアアイテムの使用感を簡単に記録してお気に入りのアイテムを見つけましょう。
        </p>
        {% if not user.is_authenticated %}
        <button class="hero-btn" onclick="location.href='{% url 'accounts:regist_user' %}'">ユーザー登録</button>
        <button class="hero-btn ms-2" onclick="location.href='{% url 'accounts:login_user' %}'">ログイン</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- feature section -->
<section class="feature">
  <div class="container">
    <div class="row">
      <div class="mx-auto mt-5">
        <h2 class="text-center">Favorite Beautyとは？</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 bg-light">
      <div class="col-lg-6">
        <img src="/static/img/favoritebeauty/4222297_s.jpg" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h4 class="text-center ms-1 mt-3 mb-4">お試し中アイテムの使用感を記録</h4>
        <p>
          化粧水や乳液などのスキンケアアイテムは数日から数週間、長いものだと数か月間使用を続けないと、自分に合うのか判断できないものが多いです。
          加えて、季節や肌の調子などによっても使用感が変わってくるため、アイテムの善し悪しを判断するには、継続的に使用感を記録しておく必要があります。
        </p>
        <p>
          「Favorite Beauty」を使えば、アイテムの使用感を手軽に記録できるので、継続的して記録を実施・管理できお気に入りを見つけやすくなります。
        </p>
        <p>
          ※シャンプーやボディクリームなどのアイテムも記録可能です。
        </p>
      </div>
    </div>
    <div class="row mt-5 bg-light">
      <div class="col-lg-6">
        <h4 class="text-center mt-3 mb-4">日々の記録をもとにアイテムの評価を数値化</h4>
        <p>
          アイテムの評価は日々の記録をもとに数値化されており、記録が追加されるたびに値は更新されます。
        </p>
        <p>
          評価は、アイテムの使用を継続している期間が長いほど、算出するもとになる記録が多くなるため、より信憑性が高くなります。
        </p>
      </div>
      <div class="col-lg-6">
        <img src="/static/img/favoritebeauty/2545189_l.jpg" class="img-fluid">
      </div>
    </div>
    <div class="row mt-5 bg-light">
      <div class="col-lg-6">
        <img src="/static/img/favoritebeauty/2545189_l.jpg" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h4 class="text-center ms-1 mt-3 mb-4">メールでお知らせ</h4>
        <p>
          お試し中のアイテムがあるときは、毎日メールでお知らせしてくれるので記録を忘れることはありません。
        </p>
        <p>
          記録の入力自体は非常にシンプルな選択式で、その日の肌の状態を入力するだけなので面倒くさがりの方でも安心です。
          何か特別記録しておきたいことがある日は、同じ画面内でコメントを残しておけます。
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row my-5">
    <div class="col-lg-6 mx-auto text-center">
      {% if not user.is_authenticated %}
      <button class="bottom-btn" onclick="location.href='{% url 'accounts:regist_user' %}'">Favorite Beautyをはじめる</button>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
