{% extends 'base.html' %}
{% block additional_head %}
{% load static %}
<link href="{% static 'css/favoritecosme/top.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block title %}FavoriteCosme_Top{% endblock title %}
{% block body %}
<!-- hero section -->
<div class="hero vh-100 d-flex align-items-center mb-5" id="home">
  <div class="container">
    <div class="row">
      <div class="hero-text col-lg-7 mx-auto py-2 text-center">
        <h1 class="display-4 text-light">Favorite Cosme</h1>
        <p class="text-light my-3">
          ファンデーションやリップなどのメイクアップコスメ、化粧水や乳液などのスキンケアコスメ、
          「Favorite Cosme」で使用したコスメの使用感を記録・管理してお気に入りのコスメを見つけましょう。
        </p>
        {% if not user.is_authenticated %}
        <button class="btn btn-light">ユーザー登録</button>
        <button class="btn btn-light ms-2">Login</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- service section -->
<section>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h2 class="text-center">Favorite Cosmeとは？</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <img src="/static/img/favoritecosme/2545189_l.jpg" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h4 class="text-center mt-3 mb-4">コスメの使用感や使用していた時期を記録</h4>
        <p>
          コスメは季節や肌の調子などによって使用感が変わってきます。
          そのため、色々なアイテムを試しても、結局どれがよかったかわからなくなって、
          お気に入りをなかなか見つけられないことがあります。
          「Favorite Cosme」を使えば、使用したコスメの感想を記録して手軽に管理できるので、
          お気に入りのコスメが見つけやすくなります。
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <h4 class="text-center mt-3 mb-4">メイクアップコスメの組み合わせをレシピとして登録</h4>
        <p>
          コスメは季節や肌の調子などによって使用感が変わってきます。
          そのため、色々なアイテムを試しても、結局どれがよかったかわからなくなって、
          お気に入りをなかなか見つけられないことがあります。
          「Favorite Cosme」を使えば、使用したコスメの感想を記録して手軽に管理できるので、
          お気に入りのコスメが見つけやすくなります。
        </p>
      </div>
      <div class="col-lg-6">
        <img src="/static/img/favoritecosme/2545189_l.jpg" class="img-fluid">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <img src="/static/img/favoritecosme/2545189_l.jpg" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h4 class="text-center mt-3 mb-4">気になるアイテムを登録</h4>
        <p>
          コスメは季節や肌の調子などによって使用感が変わってきます。
          そのため、色々なアイテムを試しても、結局どれがよかったかわからなくなって、
          お気に入りをなかなか見つけられないことがあります。
          「Favorite Cosme」を使えば、使用したコスメの感想を記録して手軽に管理できるので、
          お気に入りのコスメが見つけやすくなります。
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
