{% extends 'base.html' %}
{% block additional_head %}
  {% load static %}
  <link href="{% static 'css/favoritecosme/top.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block title %}FavoriteCosme_Top{% endblock title %}
{% block body %}
  <!-- hero section -->
  <div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
      <div class="row">
        <div class="hero-text col-lg-7 mx-auto py-2 text-center">
          <h1 class="display-4 text-light">FavoriteCosme</h1>
          <p class="text-light my-3">
            ファンデーションやリップなどのメイクアップコスメ、化粧水や乳液などのスキンケアコスメ、
            「Favorite Cosme」で使用したコスメの使用感を記録・管理してお気に入りのコスメを見つけましょう。
          </p>
          <a href="#" class="btn btn-primary me-2">Go Page</a>
          <a href="#" class="btn btn-outline-light">Contact</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
