.hero {
  background-image: url("../../img/favoritecosme/2545189_l.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(131, 112, 139, 0.35);
  z-index: -1;
}
